<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Frontpage Banner Section
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="hero-block" class="frontpage-banner-section frontpage-banner-style-three" style="padding-top:150px;padding-bottom:0px;">
    <!--             <div class="element-group">
                <div class="element one">
                    <img src="assets/images/element/rectangle3.png" alt="Element">
                </div>
                <div class="element two">
                    <img src="assets/images/element/helf-circel1.png" alt="Element">
                </div>
            </div> -->
    <div class="container" style="text-align:center;">
        <div class="row align-items-center" style="display:unset;">
            <div class="col">
                <h1 class="hero-title" style="margin-bottom: 0px;font-size:40px;font-weight: bold;">Placemaking Around the World</h1>
                <h3 style="color:#333; padding-top: 15px;font-size:20px;font-weight: normal;">A unique, free-to-use dataset for students, researchers and planning professionals
                    <br>
                of consumer perceptions of 40+ downtowns, parks, waterfronts, historic centers and other placemaking neighborhoods.</h3>
                <div class="container">
                    <h5 style="padding-top:40px;color:#333;">Brought to you by</h5>
                    <div class="row">
                        <div class="col-md-4 col-lg-4" style="padding: 10px 0px">
                            <a href="http://basillabs.org/">
                                <img class="logos-top" src="{{site.baseurl}}/assets/images/logo/logo_basil.png" />
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4" style="padding: 10px 0px">
                            <a href="https://city78.org/">
                                <img class="logos-top" src="{{site.baseurl}}/assets/images/logo/city78.png" />
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4" style="padding: 10px 0px">
                            <a href="https://www.areaprobe.com/">
                                <img class="logos-top" src="{{site.baseurl}}/assets/images/logo/areaprobe.png" />
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4" style="padding: 10px 0px">
                            <a href="https://andaccess.com/">
                                <img class="logos-top" src="{{site.baseurl}}/assets/images/logo/andaccess.png" />
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4" style="padding: 10px 0px">
                            <a href="https://www.buildwithyard.com/">
                                <img class="logos-top" src="{{site.baseurl}}/assets/images/logo/yard_and_co.png" />
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4" style="padding: 10px 0px">
                            <a href="https://www.tivacapital.com/">
                                <img class="logos-top" src="{{site.baseurl}}/assets/images/logo/tiva-capital.png" />
                            </a>
                        </div>
                        <!-- <h3 style="font-family: Hind;">Public Spaces Around the World<h3> -->
                    </div>
                    <!-- <h3>Subtitle here</h3> -->
                </div>
                <style type="text/css">
                .logos-top {
                    height: 50px;
                    width: 100%;
                    object-fit: contain;
                }
                </style>
                <!--                                 <p style="padding: 1em 4em;">Placemaking is the process of breathing life into communities through creating charming and vibrant public spaces. Pulling together urban planning, design, and management, these spaces attract tourists and locals alike to actively interact with each other and their environment through various leisure activities. In this way, placemaking projects aim to utilize the local community’s physical and cultural assets to promote happiness and livelihood.
</p> -->
                <!-- <div class="form-group-btn">
                                <!-- <a class="btn btn-primary" href="#call-to-action">▼</a> -->
                <!-- <img src="assets/imgs/down_caret.png" style="max-width: 3em;"> -->
                <!-- <a class="btn btn-primary" href="inaugural_template.html" style="background:rgb(137,86,233);">Check Out The Inaugural Template</a> -->
                <!-- </div><!-- /.form-group-btn -->
            </div><!-- /.hero-content-area -->
        </div>
    </div>
    <!--~./ end frontpage banner Section ~-->