        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Frontpage Banner Section
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="hero-block" class="frontpage-banner-section frontpage-banner-style-three" style="padding-top:150px;padding-bottom:40px;">
<!--             <div class="element-group">
                <div class="element one">
                    <img src="assets/images/element/rectangle3.png" alt="Element">
                </div>
                <div class="element two">
                    <img src="assets/images/element/helf-circel1.png" alt="Element">
                </div>
            </div> -->
            <div class="container" style="text-align:center;">
                <div class="row align-items-center" style="display:unset;">
                    <div class="col">
                    <h1 class="hero-title" style="margin-bottom: 0px;">Title here</h1>
                    <h3>Subtitle here</h3>
                </div>



                                <p style="padding: 1em 4em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            <div class="form-group-btn">
                                <!-- <a class="btn btn-primary" href="#call-to-action">▼</a> -->
                                <img src="assets/imgs/down_caret.png" style="max-width: 3em;">
                                <!-- <a class="btn btn-primary" href="inaugural_template.html" style="background:rgb(137,86,233);">Check Out The Inaugural Template</a> -->
                            </div><!-- /.form-group-btn -->
                        </div><!-- /.hero-content-area -->
                    </div>

                
        </div>
        <!--~./ end frontpage banner Section ~-->