
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        Start Work brand Block
                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="work-brand-block style-three bg-white">
            <div class="container" style="padding: 4em 0em;">
                <div class="row">
                        <!--~~ Start Brands Carousel ~~-->
                        <div class="col-4">
                            <img src="assets/imgs/chord.png" style="max-width: 100%">
                        </div>
                        <div class="col-4">
                            <img src="assets/imgs/chord.png" style="max-width: 100%">
                        </div>
                        <div class="col-4">
                            <img src="assets/imgs/chord.png" style="max-width: 100%">
                        </div>
                        <!--~./ end brands carousel ~-->

                </div>
            </div>
        </div>
        <!--~./ end popular brands block ~-->