
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Site Footer
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <footer class="site-footer pd-t-20 footer-default-bg" style="margin-top:0px;">
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start Footer Widget Area
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="footer-widget-area">

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="widget" style="text-align: left;">
                    <h5 class="widget-title font-alt" style="color: white;">Basil Labs</h5>
                    <p style="text-align: left;color: white;"><i>Not everything that can be counted counts<br> and not everything that counts can be counted.</i></p>
                    <!-- <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10 -->
                    <p style="text-align: left;color: white">1440 G St NW, Washington DC, 20005</p>
                    <p style="text-align: left;color:white;">TechnoHub 1, Silicon Oasis, Dubai</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="widget">
                    <h5 style="text-align: left;color:white" class="widget-title font-alt">Contact</h5>
                    <p style="text-align: left;color:white;"><a href=""mailto:connect@basillabs.org"">connect@basillabs.org</a></p>
                    <div class="footer-social-links" style='text-align: left;'>
                        <a href="https://medium.com/basil-labs" target="_blank">
                            <i class="fa fa-medium fafont"></i></a>
                        <a href="https://twitter.com/BasilLabsAI" target="_blank"><i class="fa fa-twitter fafont"></i></a>
                        <a href="https://www.linkedin.com/company/basil-labs/" target="_blank"><i class="fa fa-linkedin fafont"></i></a>
                        <a href="https://www.instagram.com/basil_labs/" target="_blank"><i class="fa fa-instagram fafont"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


                </div>
            <!--~./ end footer bottom area ~-->
        </footer>
        <!--~./ end site footer ~-->

<style type="text/css">
    .fafont {
        color: white;
        font-size: 30px;
        padding: 15px;
    }
</style>