    <!--~~./ end site content ~~-->

    <!-- All The JS Files
			================================================== -->
    <script src="{{site.baseurl}}/assets/js/jquery.js"></script>
    <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/plugins.js"></script>
    <script src="{{site.baseurl}}/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/simple-scrollbar.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/background-parallax.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/theia-sticky-sidebar.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/ResizeSensor.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/swiper.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/packery-mode.pkgd.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/scrolla.jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/odometer.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/isInViewport.jquery.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
    <!-- main-js -->