


<style type="text/css">
    .case_study_img {
        width:100%;
        object-fit: cover;
        height:200px;
        /*padding:1em 3em;*/
    }
</style>
<div id="service-block" class="" style="padding-bottom: 0px;padding-top:10px;text-align: center;">
            <h2>Case Studies</h2>
        <p style="font-size: 16px;padding-bottom: 20px;"><i>Five case studies leveraging the dataset of places around the world.</i></p>
    <div class="row" style="max-width: 80%;margin:auto;">

        {% for post in site.posts %}
        <!-- dont show current post -->
        {% if post.url != page.url %}
        <div class="col-lg-4" style="padding-bottom:40px;">
            <a href="{{ post.url }}">
                <div class="row">
            	     <img class="case_study_img" style="margin:0px 0px;" src="{{ post.related_image | absolute_url }} " alt="aaa">
                 </div>
                 <div class="row" style="text-align:center;justify-content: center;margin:5px;">
                   <h3 style="font-size:1.3em;">{{ post.title }}<h3>
                    <h4 style="font-size:1.3em;font-weight: normal;">{{ post.subtitle }}<h4><br>
                <!-- <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time> -->
           </a>

        </div>
    </div>
    {% endif %}
        {% endfor %}
    <!-- /.container -->
</div>
<!--~~./ end services block ~~
