<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Frontpage Banner Section
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="hero-block" class="frontpage-banner-section frontpage-banner-style-three" style="padding-top:150px;padding-bottom:0px;min-height: 90vh;height:1000px;">
    <!--             <div class="element-group">
                <div class="element one">
                    <img src="assets/images/element/rectangle3.png" alt="Element">
                </div>
                <div class="element two">
                    <img src="assets/images/element/helf-circel1.png" alt="Element">
                </div>
            </div> -->
    <div class="container" style="text-align:center;">
        <div class="row align-items-center" style="display:unset;">
            <div class="col">
                <h1 class="hero-title" style="margin-bottom: 0px;font-size:40px;font-weight: bold;">Thank you for signing up.</h1>
                <h3 style="color:#333; padding-top: 15px;font-size:20px;font-weight: normal;">We're excited to see how you'll use our data <br> and would love to see the projects you create!
                    <br><br>
                    So keep in touch!
                    <br><br>
                    Warmly,<br><br>
                    The teams @ Basil Labs, City78,
                    <br>AreaProbe, &Access,
                    <br>Yard & Company and Tiva Capital</h3>
                <br><br><br><br>
                <a href="https://github.com/theo-go/Public-Spaces-Around-the-World-Dataset" class="data-butt">Data Here</a>
                <style type="text/css">
                .logos-top {
                    height: 50px;
                    width: 100%;
                    object-fit: contain;
                }
                </style>
            </div><!-- /.hero-content-area -->
        </div>
    </div>
</div>
<!--~./ end frontpage banner Section ~-->

<style type="text/css">
    .data-butt {
        background-color: #9d6aef;
    padding: 20px;
    border-radius: 10px;
    color: white;
    }
</style>